In [ ]:
a = [1,2,3] 
# [1,2,3]은 리스트타입, 파이썬에서만 사용함

In [ ]:
b = a
# b는 a의 값을가져오는게아니라, 주소값을 가져온것임

In [18]:
print(b)

[1, 2, 3]

In [2]:
a = [1,2,3] 
b = a
print(b)

[1, 2, 3]

In [4]:
b[0] = 10
print(b)

[10, 2, 3]

In [5]:
a = [1,2,3] 
b = a
print(b)

[1, 2, 3]

In [6]:
# d = '10'

# print(c+d) 
# int와 str 의 타입이 안맞는거라서 에러가 발생하게 됨

In [7]:
print(c = int(d))
d가 문자10에서 숫자10으로

SyntaxError: invalid syntax (3446658132.py, line 2)

In [11]:
print(str(c) + d)

NameError: name 'd' is not defined

In [6]:
e = 3.14
f = 10
print(e+f)
# e는 실수형, f는 정수형 : 정수+실수의 결과 = 반드시 실수로 나옴

13.14

In [7]:
e = 3.0
f = 10

print(e + f)

13.0

In [8]:
# 정수형을 실수형으로 바꾸는방법 : 형변환(타입바꾸는것) = float
a = 10
b = 10
c = float(a) + float(b)

print(c)

20.0

In [13]:
a_bool = True
b_bool = False

a_int = 1
b_int = 0

print(a_bool)
print(b_bool)
print(type(a_bool))
print(type(b_bool))
print(a_int)
print(b_int)
print(type(a_int))
print(type(b_int))

print(bool(a_int))

True
False
<class 'bool'>
<class 'bool'>
1
0
<class 'int'>
<class 'int'>
True
False